<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>


    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.6" />
        <server name="JWT_SECRET_KEY" value='%kernel.project_dir%/config/jwt/private.pem' />
        <server name="JWT_PUBLIC_KEY" value='%kernel.project_dir%/config/jwt/public.pem' />
        <server name="JWT_PASSPHRASE" value='0c4c116c717e77e19f0d61d96d03ef736fc88d949b59c12e10f5aa36de14b4df' />
        <server name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/prueba480.db" />

        <env name="KERNEL_CLASS" value="App\Kernel" />
        

    </php>

</phpunit>
